/* src/components/Success.css */
.success-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success-container h2 {
  margin-bottom: 20px;
  color: #7a4cdb; /* Violet heading */
}

.success-container div {
  text-align: left;
  padding: 10px;
}

.success-container button {
  padding: 8px 16px;
  background-color: #7a4cdb; /* Violet background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.success-container button:hover {
  background-color: #693bc1; /* Darker violet on hover */
  box-shadow: 0 0 10px rgba(122, 76, 219, 0.5); /* Violet shadow on hover */
}
